<% if(is_tag()){%>
  <h1 class="article-title">
    <small>Work</small><br/>
    <%= page.tag %>
  </h1>
<% } %>

<div class="flex-md-2 flex-lg-3">
  <% page.posts.each(function(post, i) { %>
    <a class="col" href="<%- url_for(post.path) %>">
      <div class="card">
        <div class="card-img" style="background-image:  url(<%= post.thumb %>);"></div>
        <div class="card-body">
          <p class="card-text">
            <time datetime="<%= date_xml(post.date) %>">
              <%= date(post.date, 'MMMM D, YYYY') %>
            </time>
          </p>
          <h2 class="card-title"><%= post.title %></h2>
        </div>
      </div>
    </a>
  <% }) %>
</div>

<% if (page.total > 1){ %>
  <nav class="pager">
    <%- paginator() %>
  </nav>
<% } %>